{{#if loggedin}}
  <div class="header-user">
  <a href="/{{ T.locale }}/" class="button--secondary js-logout">{{ T.nav.logout }}</a>
  <ul>
    <li><a href="/{{ T.locale }}/">{{ T.nav.search }}</a></li>
    <li><a href="/{{ T.locale }}/trips.html">{{ T.nav.mytrips }}</a></li>
    <li><a href="/{{ T.locale }}/settings.html"><i class="fa fa-cog"></i></a></li>
  </ul>

  </div>
{{else}}
  <div class="header-guest">
    <a href="#" modal-open="signin">{{ T.nav.signin }}</a>
    <a href="#" modal-open="signup" class="button">{{ T.nav.signup }}</a>
  </div>
{{/if}}
