<form id="settings-preferences">
  <fieldset class="hook-pref-options">
    <label for="">{{ T.settings.preferences.options.title }}</label>
    <div class="value">
      <input type="hidden" name="options_plane" value="0">
      <input type="checkbox" name="options_plane" value="1" id="cb-plane" data-settings-key="options_plane" {{#equal attributes.options_plane 1}}checked{{/equal}}>
      <label for="cb-plane">{{ T.settings.preferences.options.plane }}</label>

      <input type="hidden" name="options_public" value="0">
      <input type="checkbox" name="options_public" value="1" id="cb-public" data-settings-key="options_public" {{#equal attributes.options_public 1}}checked{{/equal}}>
      <label for="cb-public">{{ T.settings.preferences.options.public }}</label>

      <input type="hidden" name="options_taxi" value="0">
      <input type="checkbox" name="options_taxi" value="1" id="cb-taxi" data-settings-key="options_taxi" {{#equal attributes.options_taxi 1}}checked{{/equal}}>
      <label for="cb-taxi">{{ T.settings.preferences.options.taxi }}</label>

      <input type="hidden" name="options_rental" value="0">
      <input type="checkbox" name="options_rental" value="1" id="cb-rental" data-settings-key="options_rental" {{#equal attributes.options_rental 1}}checked{{/equal}}>
      <label for="cb-rental">{{ T.settings.preferences.options.rental }}</label>
    </div>
  </fieldset>
  {{#each attributes}}
    {{#equal @key "priority"}}
      <fieldset>
        <label for="">{{ ../../T.settings.preferences.priority }}</label>
        <div class="value">
          <p>{{ ../../T.settings.preferences.options.instruction }}</p>
          <ol id="sortable" class="list--sortable"></ol>
        </div>
      </fieldset>
    {{/equal}}
    {{#equal @key "arrival"}}
      <fieldset>
        <label for="">{{ ../../T.settings.preferences.arrival.title }}</label>
        <div class="value">
            <input type="radio" name="arrival" id="arrival-morning" value="0" {{#equal this 0}}checked{{/equal}}>
            <label for="arrival-morning">{{ ../../T.settings.preferences.arrival.morning }}</label>
            <input type="radio" name="arrival" id="arrival-overnight" value="1" {{#equal this 1}}checked{{/equal}}>
            <label for="arrival-overnight">{{ ../../T.settings.preferences.arrival.overnight }}</label>
        </div>
      </fieldset>
    {{/equal}}
    {{#equal @key "breakfast"}}
      <fieldset>
          <label for="">{{ ../../T.settings.preferences.hotel }}</label>
          <div class="value">
            <input type="hidden" name="breakfast" value="0">
            <input type="checkbox" name="breakfast" value="1" id="breakfast" {{#equal this 1}}checked{{/equal}}>
          <label for="breakfast">{{ ../../T.settings.preferences.breakfast }}</label>
        </div>
      </fieldset>
    {{/equal}}
    {{#equal @key "buffer"}}
      <fieldset>
          <label for="">{{ ../../T.settings.preferences.buffer }}</label>
          <div class="value">
            <input type="text" name="{{ @key }}" value="{{ this }}" data-edit-key="{{ @key }}" />
            <span class="indicator"></span>
          </div>
      </fieldset>
    {{/equal}}
    {{#equal @key "transfer"}}
      <fieldset>
        <label for="">{{ ../../T.settings.preferences.transfer.title }}</label>
        <div class="value">
             <input type="radio" name="transfer" id="transfer-short" value="0" {{#equal this 0}}checked{{/equal}}>
             <label for="transfer-short">{{ ../../T.settings.preferences.transfer.short }}</label>

             <input type="radio" name="transfer" id="transfer-medium" value="1" {{#equal this 1}}checked{{/equal}}>
             <label for="transfer-medium">{{ ../../T.settings.preferences.transfer.medium }}</label>

             <input type="radio" name="transfer" id="transfer-long" value="2" {{#equal this 2}}checked{{/equal}}>
             <label for="transfer-long">{{ ../../T.settings.preferences.transfer.long }}</label>
          </div>
    </fieldset>
    {{/equal}}
  {{/each}}
  <input type="submit" class="button" value="{{ T.settings.preferences.save }}" />
</form>
